<div class="container-fluid">

    <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#post">Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#comments">Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#followers">Followers</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="post">
      <% @opinions.each do |opinion| %>
        <div>
          <div><%= link_to opinion.user.first_names, user_path(opinion.user), class: "btn btn-primary"  %></div>
          <div><%= opinion.content %></div>
          
        </div>
      <% end %>
    </div>
    <div class="tab-pane container fade" id="comments">...</div>
    <div class="tab-pane container fade" id="followers">...</div>
  </div>

  <%= link_to 'New Opinion', new_opinion_path %>
</div>