<% if notice %>
    <div class='alert alert-info'>
        <a href="#" class="close" data-dismiss="alert">&#215;</a>
        <p class="notice alert alert-info"><%= notice %></p>
    </div>
<% elsif alert %>
    <% flash.each do |name, msg| %>
    <div class='alert alert-info'>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)%>
    </div>
    <% end %>
<% end %>